.DS_Store
*.pkl
*.pyc
notebooks/.ipynb_checkpoints/tools-checkpoint.py
notebooks/.ipynb_checkpoints/MicroBooNE Example - data access-checkpoint.ipynb
notebooks/.ipynb_checkpoints/MicroBooNE Example - fitting-checkpoint.ipynb
notebooks/.ipynb_checkpoints/MicroBooNE Example - selection-checkpoint.ipynb
notebooks/.ipynb_checkpoints/ML Selection-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Task 3-checkpoint.ipynb
